
<body>
    <div id="menu">
        <p>@Html.ActionLink("Просмотр пользовательского профиля", "Prof", "User")</p>
        <p>@Html.ActionLink("Редактирование пользовательского профиля", "Edit", "User")</p>
    </div>
</body>
